@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url('/img/cabecera.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color:aliceblue;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{

    font-size: 18px;
    padding: 18px;
    color:aliceblue;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color:rgb(70, 123, 175)
}

#menu{
    display: none;
}

.header-content{
    text-align: center;

}

.header-content h1{
    font-size: 60px;
    line-height: 80px;
    color:aliceblue;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color:rgb(207, 220, 231);
    padding: 0px 200px;
    margin-bottom: 25px;
}

.cableado{
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
    border-top: 1px solid #94c0da;
    border-bottom: 1px solid #94c0da;
}

.cableado-content{
    text-align: center;  
}

.cableado-content h2{
    font-size: 45px;
    line-height: 70px;
    color:rgb(62, 91, 121);
    text-transform: uppercase;
    padding: 0 200px;
    margin-bottom: 15px;
}

.cableado-text {
    font-size: 16px;
    color:#414247;
    padding: 0px 200px;
    margin-bottom: 35px;
}

.cableado-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.cableado-1 img{
    width: 200;
}

.cableado-1{
    padding: 25px;
}

.cableado-img{
    width: 200px;
    top:0;
    right:0;
}

.cableado-image{
    width: 1800px;
    height: auto;
}

.cableado-1 h3{
    color: rgb(62, 91, 121);
    font-size: 20px;
    margin-bottom: 15px;
}

.cableado-1 p{
    color: #414247;
}

.footer{
    padding: 100px 0;
    background-color: #000000;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #c5c5c5;
    margin-bottom: 15px;
}

.link a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}